.header-content{
    display: flex;
    justify-content: space-between;
    border-bottom: ridge;
    border-color: #c5bfbf54;
    border-width: thin;
    padding-bottom: 10px;
}

.header-categories button{
    padding-top: 25px;
    border: 0px;
    margin-left: 35px;
    background-color: transparent;
    color: rgb(106, 106, 106);
}

.header-categories button:hover{
    color: rgb(45, 45, 45);
    border-bottom: 5px;
    border-style: solid;
    border-color: orangered;
    cursor: pointer;
}

.header-profile{
    display: flex;
    justify-content: flex-end;
}

.image-cart{
    width: 25px;
    padding-top: 25px;
    padding-bottom: 13px;
}

.image-cart:hover{
    cursor: pointer;
}

.image-avatar{
    margin-left: 25px;
    margin-left: 25px;
    border: solid;
    /* border: grey; */
    border-radius: 50%;
    border-color: aliceblue;
}


.image-avatar:hover{
    border: solid;
    border-radius: 50%;
    border-color: orangered;
    cursor: pointer;
}

.cart-image img{
    width:50px;
    padding-left: 10px;
    padding-bottom :50px;
}

.cart-details{
    display: flex;
}

@media (max-width:500px) and (min-width:300px) {
    .header-content{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .header-profile{
        display: flex;
        justify-content: flex-end;
    }
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}