.homepage-layout{
    padding: 2% 10%;
}

@media (max-width:600px) and (min-width:300px) {
    .homepage-layout{
        padding:0px;
        margin : 0px;
        width: 100%;
        display: block;
    }
   
}