

.sneaker-details{
    display: flex;
    margin-left: 30px;
}


.sneaker-images{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
    width: 70%;
}

.prev-image img{
    width: 70%;
    border-radius: 9px;
}


.image-options img{
    width: 20%;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.sneaker-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 20px;
}

.button-values{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.value-select button{
    color: orange;
}

.add-value button{
    margin-left: 10px;
}

.sneaker-desc p{
    width: 60%;
    text-align: justify;
    margin-top: 15px;
    font-family: revert;
    font-weight: 200;

}

.carousel-slide{
    display: none;
}

span{
    padding-top: 10px;
    padding-left: 10px;
}

.amount{
    display: flex;
}

h5{
    font: menu;
    font-weight: 700;
    color: burlywood;
}

h2{
    font-family: unset;
    font-weight: 600;
}


@media (max-width:600px) and (min-width:300px) {
    .sneaker-details{
        display: block;
        margin: 0;
    }
    .sneaker-images{
        width: 100%;
        margin: 0;
    }
    /* .carousel-slide{
        display: block;
    } */
    .image-options img{
        display: none;
    }
    .prev-image img{
        width: 100%;
        margin-top: 30px;
        border-radius: 0;
    }

    .sneaker-desc{
        margin-top:20px;
        margin-right: 20px;
    }

    h5{
        font-size: x-large;
    }

    .sneaker-desc h2{
        font-size: xxx-large;
        font-weight: 900;
        font-family: fangsong;
        text-align: left;
    }

    .sneaker-desc p{
        width: 100%;
        padding-right: 20px;
        font-family: auto;
        font-size: x-large;
        font-weight: normal;
        color: slategrey;
    }

    .button-values{
        margin-top: 5px;
        display: block;
        width: 100%;
    }

    .value-select{
        display: flex;
        margin-bottom: 5px;
        margin-right: 10px;
    }

    .value-select button{
        width: 33%;
    }

    .add-value button{
        width: 100%;
        display: block;
        margin-left: 0;
    }


    }



